extends ./layout.jade
include ./renderMixins.jade

block body
    if endpoint
        p Path: #{endpoint.path} - #{endpoint.type} - #{endpoint.name}
        iframe(src=endpoint.path)
        +renderResponse(endpoint.response, endpoint.actual)
    else
        p Select an API to view

