doctype html
html(lang="en-GB")
    head
        block title
            title Fake API Server Config Page
    body
        if endpoints
            nav
                h2 Available APIs
                ul.endpoints
                    each endpoint in endpoints
                        li.endpoint #[a(href='/config?endpoint='+endpoint.path)= endpoint.path)] [#{endpoint.type}]
            
        block body
