doctype html
html(lang="en-GB")
    head
        link(href='/css/bootstrap.min.css', type='text/css', rel='stylesheet')
        block title
            title Fake API Server Config Page
    body
        .container
            block body

